// reset styles 
* {
    color: inherit;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

html {
    line-height: 1.15;
}

body {
    font-family: $font-base;
    font-weight: $font-weight-regular;
    color: $gray-900;
    font-size: $base-font-size;
    margin: 0;
    padding: 0;
    min-height: 100vh;

}


//not base
.flex-center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: $primary-900;
    position: sticky;
    top: 0;
    z-index: 1;

    h2 {
        display: none;
    }

    img {
        width: 40px;
        height: 32px;
        margin: $base-margin;
    }
}

h3 {
    font-weight: $font-weight-thin;
    font-size: $font-size-l;
    margin: 1rem 0;
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 1.5rem auto 1rem auto;
}